.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d3437a;
  min-height: 60px;
}

.nav {
  width: 100%;
  padding: 0.5rem 2%;
}

.nav_items {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav_item a {
  color: #fff;
}

.back a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 0.2rem;
}

.nav_item a:active {
  color: #ccc;
}

.brand a h1 {
  font-weight: 700;
  text-align: center;
}

.actions {
  display: flex;
  gap: 1rem;
}

.actions button {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  color: #fff;
}
