.country {
  padding: 0.5rem 1rem;
  display: flex;
  width: 48%;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  background: #d3437a;
}

/* .country:nth-child(odd) {
  background: #d3437a;
} */

.map {
  width: 100%;
  margin-top: 1rem;
  opacity: 0.4;
}

.country_header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.country_header a {
  color: #fff;
  font-size: 1.5rem;
}

.country_header a:active {
  color: #d3437a;
}

.flag {
  max-width: 50px;
}

.country_footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .country {
    width: 32.33%;
  }
}