@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background: #ec4c8a;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

button {
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: translateY(-2px);
}
